html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
}

@font-face{
    font-family: futuraDemi;
    src: url(../fonts/FuturaPTDemi.otf)
}
@font-face{
    font-family: futuraMedium;
    src: url(../fonts/FuturaPTMedium.otf)
}
@font-face{
    font-family: futuraBook;
    src: url(../fonts/FuturaPTBook.otf)
}
@font-face{
    font-family: futuraBold;
    src: url(../fonts/FuturaPTBold.otf)
}
@font-face{
    font-family: futuraHeavy;
    src: url(../fonts/FuturaPTHeavy.otf)
}
@font-face{
    font-family: futuraLight;
    src: url(../fonts/FuturaPTLight.otf)
}

/* padding */
.p-0{
    padding: 0;
}
.pt-64px
{
    padding-top: 4rem;
}
.pt-80px
{
    padding-top: 5rem;
}
.pt-7rem{
    padding-top: 7rem;
}

.interlineado-24{
    line-height: 1.5rem;
}

@media(min-width:786px){
    .pt-64px
    {
        padding-top: 0rem;
    }
    .pt-7rem{
        padding-top: 0rem;
    }
}
/* Posiciones */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

/* width */
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.w300{
    width: 18.75rem;
}
.w-32{
    width: 2rem;
}
.w-500{
    width: 500px;
}
.w160px{
    width: 160px;
}
/* Fuentes */
.futura_book{
    font-family: futuraBook;
}
.futura_medium{
    font-family: futuraMedium;
}
.futura_demi{
    font-family: futuraDemi;
}
.futura_bold{
    font-family: futuraBold;
}
.futura_heavy{
    font-family: futuraHeavy;
}
.futura_light{
    font-family: futuraLight;
}

h1{
    font-size: 2.5 rem;
}
h2{
    font-size: 2 rem;
}
h3{
    font-size: 1.5 rem; 
}

p{
    color: #002856;
    font-size: 1rem;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.font-w300{
    font-weight: 700;
}

 
/* COLORES */
.text-blue-50{
    color: #4377FF;
}
.text-blue-100{
    color: #1F49B6;
}
.text-blue-200{
    color: #002856;
}
.text-blue-900{
    color: #002856;
}
.text-white{
    color: #fff;
}
.text-gray-50{
    color: #A8A9AC;
}
.text-gray-{
    color: #8D8D8D;
}
.fs_16{
    font-size: 1rem;
}
.fs_19{
    font-size: 1.18rem;
}
.fs_20{
    font-size: 1.25rem;
}
.fs_22{
    font-size: 1.4rem;
}
.fs_24{
    font-size: 1.5rem;
}
.fs_29{
    font-size: 1.8rem;
}
.fs_30{
    font-size: 1.9rem;
}
.fs_32{
    font-size: 2rem;
}
.fs_40{
    font-size: 2.5rem;
}
.fs_46{
    font-size: 2.87rem;
}
.fs_52{
    font-size: 3.25rem;
}
.fs_64{
    font-size: 4rem;
}

.letter-space-8px{
    letter-spacing: .5rem;
}


@media(max-width: 768px){
    .fs_46{
        font-size: 2rem;
    }
    .fs_52{
        font-size: 2.25rem;
    }
    .fs_64{
        font-size: 3rem;
    }
        
}
/* background */

.bg-blue-50{
    background-color: #4377FF;
}
.bg-blue-100{
    background-color: #1F49B6;
}
.bg-blue-900{
    background-color: #002856;
}
.bg-white{
    background-color: #fff;
}
.bg-gray-50{
    background-color: #A8A9AC;
}
.bg-gray-{
    background-color: #8D8D8D;
}
.bg-gradient-blue{
    height: 100%;
    background-color: #1f49b6a8;
}
.bg-blue-trasparent{
    height: 100%;
    background-color: #002856a8;
    background-size: cover;
    background-position: center center;
}
.bg-gradient-blue__50{
    background: rgb(16,37,43);
    background: linear-gradient(90deg, #002856  0%, rgba(51,80,203,1) 47%, #002856 100%);
}
.bg-indicadores{
    height: 50vh;
    background-image: url("../img/bg/indicadores.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width: 768px){
    .bg-indicadores{
        height: 100vh;
        background-image: url("../img/bg/indicadores_movil.jpg");
    }   
}
.ml-5rem{
    margin-left: 5rem;
}
@media(max-width:768px)
{
    .ml-5rem{
        margin-left: 0rem;
    }    
}
/* Border */
.border-blue-top{
    border-top: 10px solid #1F49B6;
}
.border-blue-left{
    border-left: 10px solid #1F49B6;
}

.border-count-left{
    border-left: 1px solid #fff ;
}
.border-count-right{
    border-right: 1px solid #fff;
}
@media (max-width:768px){
    .border-count-left{
        border-left: none ;
    }
    .border-count-right{
        border-right: none;
    }
}
.hr-white{
    border: 2px solid #fff;
    text-align: center;
}
.hr_white_short{
    border: 1px solid #fff;
    text-align: center;
    width: 100px;
}
.hr-blue{
    border: 1px  solid #002856;
    width: 3rem; 
}
.hr-testimonio{
    border: 1px solid #fff;
}
.hr-footer{
    border: 2px solid #1f49b7;
}
.z-99{
    z-index: 99;
}

.icon-menu{
    width: 1.25rem;
}
/* header */
.logo-navetec{
    width: 5rem;
}

.hero{
    background-image: url(../img/bg/portada.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
/* formulario */

.intencion{
    border: 1px solid #c1c1c1;
    padding: 9px 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #c1c1c1;
}

@media (min-width: 768px){
    .intencion{
        border: 1px solid #c1c1c1;
        padding: 9px 20px;
        margin-right: 20px;
        text-transform: uppercase;
        color: #c1c1c1;
    }
        
}
.formulario .radio label,
.formulario .checkbox label {
  display: inline-block;
  cursor: pointer;
  color: #FF4136;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formulario .radio label:hover,
.formulario .checkbox label:hover {
  background: rgba(255, 65, 54, 0.1);
}

.formulario .radio label:before,
.formulario .checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 3px solid #FF4136;
}

.formulario input[type="radio"] {
  display: none;
}

.formulario input[type="radio"]:checked+label:before {
  display: none;
}

.formulario input[type="radio"]:checked+label {
    padding: 9px 30px;
  background: #002856;
  border-radius: 2px;
  color: #fff !important;
}
#guardar{
    border:#1F49B6 1px solid;
    color: #1F49B6;
    letter-spacing: 5px;
}
#guardar:hover{
    border:#1F49B6 1px solid;
    color: #fff;
    background-color: #1F49B6;
    transition: all ease-in .1s;
    letter-spacing: 5px;
}


.float-text{
    left: -200px;
    top: -300px;
}
.float-text div{
    width: 200px;
}

.wildcard{
    top: -14rem;
    width: 100%;
    z-index: -1;
}
.wildcard div{
    height: 15rem;
}
/* indicadores */
.plus-counter{
    width: 2rem;
    margin-bottom: 1.5rem;
    margin-right: 0.625rem;
}
.count-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}

.encabezado_mapa{
    margin-top: 5rem;
    border-left: 6px solid #fff;
    padding-left: 7px;
}

.n-box{
    top: -9rem;
    left: 7rem;
}
.ptfooter-10{
    padding-top: 5rem;
}
.footer-bg{
    background-image: url("../img/bg/footer_web.jpg");
    background-position: center center;
    background-size: cover;
    height: 50vh;
}
@media(max-width: 768px){
    .footer-bg{
        background-image: url("../img/bg/footer_movil.jpg");
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
}

.footer-list{
    list-style: none;
}
/* modificaciones bootstrap */

.dropdown-toggle::after{
   visibility: hidden;
}

.carousel-indicators{
    bottom: -4rem !important;
}
.carousel-indicators li{
    height: .5rem;
    width: 3.125rem;
}
